<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.csumb.quizzu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="signin.ChooserActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="signin.SignInActivity"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" />
        <activity
            android:name="signin.SignInActivityWithDrive"
            android:label="@string/name_sign_in_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" />
        <activity
            android:name="signin.IdTokenActivity"
            android:label="@string/name_id_token_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" />
        <activity
            android:name="signin.ServerAuthCodeActivity"
            android:label="@string/name_auth_code_activity"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".QuizActivity"/>
        <activity android:name=".FlipperActivity"/>
        <activity android:name=".QuizLanding">
        </activity>
    </application>

</manifest>
